.project__link {
  margin-bottom: 1rem;
  color: inherit;
  text-decoration: none;
}

.project__link:hover {
  text-decoration: underline;
  font-style: italic;
}

.project__item__title {
  font-size: 1.6em;
  text-decoration: none;
  margin-bottom: 0;
}

.project__item__image {
  max-width: 600px;
}

.project__divider {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
