.project__item {
  margin-bottom: 1rem;
  color: inherit;
  text-decoration: none;
}

.project__title {
  font-size: 1.4em;
  text-decoration: underline;
}

.project__image {
  display: none;
  z-index: -1;
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .project__image {
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 48px;
  }
}
